@module "Classic" {
    @namespace Classic;

    define(*type HBYT) {
        isa = integer;
        size = 1;
    };

    define(*type HLNG) {
        isa = integer;
        size = 4;
    };

    define(*type CSTR) {
        isa = string;
        size = null_terminated;
        char = macroman;
    };

    define(*type Color) {
        isa = integer;
        size = 4;
    };

    `define(*function Color.rgb:3) {
    `    return (255 << 14) | (Arg0 << 16) | (Arg1 << 8) | Arg2;
    `};
};

@module "Tests" {

    define(Fruit : "früt") {
        template {
            Classic::CSTR Name;
            Classic::Color Color;
        };

        field Name;
        field Color {
            Color = rgb(200, 0, 0);
        };
    };

};